@font-face {
    font-family: 'frutiger';
    src: url('frutiger/FrutigerLTArabic-55Roman.woff2') format('woff2'),
        url('frutiger/FrutigerLTArabic-55Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'frutiger';
    src: url('frutiger/FrutigerLTArabic-45Light.woff2') format('woff2'),
        url('frutiger/FrutigerLTArabic-45Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

