@font-face {
    font-family: 'MadaniArabic';
    src: url('madani/MadaniArabic-Bold.woff2') format('woff2'),
        url('madani/MadaniArabic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MadaniArabic';
    src: url('madani/MadaniArabic-Regular.woff2') format('woff2'),
        url('madani/MadaniArabic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

